{% extends 'app/base.html' %}

{% block content %}
<div class="inner-content">
    <form>
        <div class="form">
        <h4 class="h4" style="color:#1a0af5 ;">
            
            Add Clients
            <!-- View Client Button -->
            <a href="/tasks">
              <button type="button" id="btn">View Assigned Tasks</button>
            </a>
        </h4>
        
         <!-- Service Dropdown -->
         <div class="form-group">
            <label for="service">Select User</label>
        <select id="service" class="form-control" name="service">
            <option value="service1"> 1</option>
            <option value="service2"> 2</option>
            <option value="service3"> 3</option>
            <!-- Add more options as needed -->
        </select>
        </div>

        <div class="form-group">
            <label for="service">Select Category</label>
        <select id="service" class="form-control" name="service">
            <option value="service1"> 1</option>
            <option value="service2"> 2</option>
            <option value="service3"> 3</option>
            <!-- Add more options as needed -->
        </select>
        </div>

        <div class="form-group">
            <label for="service">Select client</label>
        <select id="service" class="form-control" name="service">
            <option value="service1"> 1</option>
            <option value="service2"> 2</option>
            <option value="service3"> 3</option>
            <!-- Add more options as needed -->
        </select>
        </div>

        <div class="form-group">
            <label for="service">Task</label>
        <textarea name="message" class="form-control" cols="30" rows="3"></textarea>
            <!-- Add more options as needed -->
        </div>

        <br>
        <!-- Add Client Button -->
        <button type="submit" id="btn">Assign</button>

    </div> 
    </form>
</div> 
{% endblock content %}