{% extends 'app/base.html' %}

{% block content %}
<div class="inner-content">
    <div class="recent">
        <div class="clients">
          <h4 class="h4" style="color:#1a0af5 ;">Our Clients 
          <span>
            <a href="/linked">
                <button type="button" id="btn">Add clients</button>
            </a>
          </span>

          </h4>
            <div class="table-section">
                <table class="table bg-light"  id="table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>#</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Services</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.contact }}</td>
                                <td>{{ client.address }}</td>
                                <td>{{ client.service }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}