{% extends 'app/base.html' %}

{% block content %}
<div class="inner-content">
    <div class="recent" style="padding-right: 200px;">
        <div class="clients">
          <h4 class="h4" style="color:#1a0af5 ;">Our Users
          <span>
            <a href="/adduser">
                <button type="button" id="btn">Add User</button>
            </a>
          </span>

          </h4>
            <div class="table-section" >
                <table class="table bg-light" id="table" >
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>#</th>
                                <th>Fullname</th>
                                <th>Category</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nalukenge Precious</td>
                                <td>nalukengeprecious2019@gmail.com</td>
                                <td>+256702091781</td>
                                <td>Kyotera</td>
                                <td>Canada visa processing</td>
                                
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Nalukenge Precious</td>
                                <td>nalukengeprecious2019@gmail.com</td>
                                <td>+256702091781</td>
                                <td>Kyotera</td>
                                <td>Canada visa processing</td>
                                
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Nalukenge Precious</td>
                                <td>nalukengeprecious2019@gmail.com</td>
                                <td>+256702091781</td>
                                <td>Kyotera</td>
                                <td>Canada visa processing</td>
                                
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Nalukenge Precious</td>
                                <td>nalukengeprecious2019@gmail.com</td>
                                <td>+256702091781</td>
                                <td>Kyotera</td>
                                <td>Canada visa processing</td>
                                
                            </tr>

                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}